<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30023">
		<setting id="playwhat" type="labelenum" label="30024" values="Trailer|Custom" default="Trailer" />	
		<setting id="cachesites" type="bool" label="30025" default="true" />
		<setting id="pref_language" type="labelenum" label="30026" values="system|aa|ab|af|am|ar|as|ay|az|ba|be|bg|bh|bi|bn|bo|br|ca|co|cs|cy|da|de|dz|el|en|eo|es|et|eu|fa|fi|fj|fo|fr|fy|ga|gd|gl|gn|gu|ha|hi|hr|hu|hy|ia|ie|ik|in|is|it|iw|ja|ji|jw|ka|kk|kl|km|kn|ko|ks|ku|ky|la|ln|lo|lt|lv|mg|mi|mk|ml|mn|mo|mr|ms|mt|my|na|ne|nl|no|oc|om|or|pa|pl|ps|pt|qu|rm|rn|ro|ru|rw|sa|sd|sg|sh|si|sk|sl|sm|sn|so|sq|sr|ss|st|su|sv|sw|ta|te|tg|th|ti|tk|tl|tn|to|tr|ts|tt|tw|uk|ur|uz|vi|vo|wo|xh|yo|zh|zu" default="system" />
		<setting id="debug_mode" type="bool" label="30027" default="false"/>		
    </category>
	<category label="30065">
		<setting type="lsep" label="Trakt"/>
		<setting id="trakt_user" type="text" label="30066" default=""/>
		<setting id="trakt_password" type="text" option="hidden" label="30067" default=""/>
		<setting id="trakt_sync" type="bool" label="30069" default="true"/>		
	</category>		
    <category label="30028">
		<setting id="allyear" type="bool" default="true" label="30029"/>		
		<setting id="minyear" type="slider" default="2013" label="30031" range="1900,1,2015" option="int" enable="eq(-1,false)"/>
		<setting id="maxyear" type="slider" default="2015" label="30030" range="1900,1,2015" option="int" enable="eq(-2,false)"/>
		<setting id="pages-num" type="slider" default="2" label="30032" range="1,1,10" option="int"/>	
		<setting id="site1on" type="bool" default="true" label="30033"/>
		<setting id="site1" type="text" default="http://www.rlsbb.com/category/movies/page/" label="30048" enable="eq(-1,true)"/>
		<setting id="site2on" type="bool" default="true" label="30034"/>
		<setting id="site2" type="text" default="http://www.ddlvalley.rocks/category/movies/page/" label="30049" enable="eq(-1,true)"/>
		<setting id="site3on" type="bool" default="true" label="30035"/>
		<setting id="site3" type="text" default="http://irfree.com/movies/page/" label="30050" enable="eq(-1,true)"/>
		<setting id="site4on" type="bool" default="true" label="30036"/>
		<setting id="site4" type="text" default="http://sceper.ws/category/movies/page/" label="30051" enable="eq(-1,true)"/>
		<setting id="site5on" type="bool" default="true" label="30037"/>
		<setting id="site5" type="text" default="http://www.scnsrc.me/category/films/page/" label="30052" enable="eq(-1,true)"/>
		<setting id="site6on" type="bool" default="true" label="30038"/>
		<setting id="site6" type="text" default="http://www.rlslog.net/category/movies/bdrip/page/" label="30053" enable="eq(-1,true)"/>
		<setting id="site7on" type="bool" default="true" label="30039"/>
		<setting id="site7" type="text" default="http://www.rlslog.net/category/movies/dvdrip/page/" label="30054" enable="eq(-1,true)"/>
		<setting id="site8on" type="bool" default="true" label="30040"/>
		<setting id="site8" type="text" default="http://rapidmoviez.com/l/m/" label="30055" enable="eq(-1,true)"/>
		<setting id="site9on" type="bool" default="false" label="30041"/>
		<setting id="site9" type="text" default="" label="30056" enable="eq(-1,true)"/>
		<setting id="site10on" type="bool" default="false" label="30042"/>
		<setting id="site10" type="text" default="" label="30057" enable="eq(-1,true)"/>
		<setting id="site11on" type="bool" default="false" label="30043"/>
		<setting id="site11" type="text" default="" label="30058" enable="eq(-1,true)"/>
		<setting id="site12on" type="bool" default="false" label="30044"/>
		<setting id="site12" type="text" default="" label="30059" enable="eq(-1,true)"/>
		<setting id="site13on" type="bool" default="false" label="30045"/>
		<setting id="site13" type="text" default="" label="30060" enable="eq(-1,true)"/>
		<setting id="site14on" type="bool" default="false" label="30046"/>
		<setting id="site14" type="text" default="" label="30061" enable="eq(-1,true)"/>
		<setting id="site15on" type="bool" default="false" label="30047"/>
		<setting id="site15" type="text" default="" label="30062" enable="eq(-1,true)"/>	
    </category>
</settings>
