<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="General">
		<setting id="pref_addon" type="select" label="Addon Preferencial" values="-|Genesis|RatoTV|SiteDosPortugas|WT|KMediaTorrent|Stream" default="-" />
	</category>
	<category label="Genesis">
		<setting id="genesis_enabled" type="bool" label="Enabled" default="true"/>
	</category>
	<category label="RatoTV">
		<setting id="rato_enabled" type="bool" label="Enabled" default="true"/>
	</category>
	<category label="Site dos Portugas">
		<setting id="sdp_enabled" type="bool" label="Enabled" default="true"/>
	</category>
	<category label="WarezTuga">
		<setting id="wt_enabled" type="bool" label="Enabled" default="true"/>
	</category>
	<category label="KMediaTorrent">
		<setting id="kmediatorrent_enabled" type="bool" label="Enabled" default="true"/>
	</category>
	<category label="Stream">
		<setting id="stream_enabled" type="bool" label="Enabled" default="true"/>
	</category>
</settings>